trigger:
- master

pool:
  vmImage: 'windows-latest'
  
variables:
  buildConfiguration: 'Release'
  profile: 'azure'

steps:
- task: GitVersion@5
  displayName: 'Run GitVersion'
  inputs:
    runtime: 'core'

- task: SonarCloudPrepare@1
  displayName: 'Prepare SonarCloud analysis'
  inputs:
    SonarCloud: 'SonarCloud'
    organization: 'aqualityautomation'
    projectKey: 'aquality-automation_aquality-selenium-dotnet'
    projectName: 'aquality-selenium-dotnet'
    projectVersion: '$(Build.BuildNumber)'
    extraProperties: |
      sonar.coverage.exclusions=**/**

- task: DotNetCoreCLI@2
  displayName: 'Build solution - $(buildConfiguration)'
  inputs:
    command: 'build'
    projects: Aquality.Selenium/Aquality.Selenium.sln
    arguments: -c $(buildConfiguration) /p:Version=$(GitVersion.NuGetVersionV2)

- task: SonarCloudAnalyze@1
  displayName: 'Run SonarCloud code analysis'
  continueOnError: true

- task: SonarCloudPublish@1
  displayName: 'Publish SonarCloud quality gate results'
  continueOnError: true

- task: DotNetCoreCLI@2
  displayName: 'Run tests'
  inputs:
    command: 'test'
    projects: '**/*Tests*/*.csproj'
    arguments: -c $(buildConfiguration) --no-build
    publishTestResults: true

- task: DotNetCoreCLI@2
  displayName: 'Create NuGet package'
  inputs:
    command: 'pack'
    projects: Aquality.Selenium/src/Aquality.Selenium/Aquality.Selenium.csproj
    arguments: -c $(buildConfiguration) --no-build -o $(build.artifactStagingDirectory)

- task: PublishBuildArtifacts@1
  displayName: 'Publish build artifacts'
  inputs:
    PathtoPublish: '$(system.defaultworkingdirectory)'
    ArtifactName: 'sources'
    publishLocation: 'Container'