trigger:
- master

pool:
  vmImage: 'windows-latest'
  
variables:
  buildConfiguration: 'Release'
  profile: 'azure'

steps:
- task: GitVersion@5
  displayName: 'Run GitVersion'
  inputs:
    runtime: 'core'

- task: SonarCloudPrepare@1
  displayName: 'Prepare SonarCloud analysis'
  inputs:
    SonarCloud: 'SonarCloud'
    organization: 'aqualityautomation'
    projectKey: 'aquality-automation_aquality-selenium-dotnet'
    projectName: 'aquality-selenium-dotnet'
    projectVersion: '$(Build.BuildNumber)'
    extraProperties: |
      sonar.coverage.exclusions=**/**

- script: dotnet build Aquality.Selenium/Aquality.Selenium.sln -c $(buildConfiguration)
  displayName: 'Build solution - $(buildConfiguration)'

- task: SonarCloudAnalyze@1
  displayName: 'Run SonarCloud code analysis'
  continueOnError: true

- task: SonarCloudPublish@1
  displayName: 'Publish SonarCloud quality gate results'
  continueOnError: true

- task: DotNetCoreCLI@2
  displayName: 'Run tests'
  inputs:
    command: 'test'
    projects: '**/*Tests*/*.csproj'
    arguments: -c $(buildConfiguration) --no-build
    publishTestResults: true

- script: dotnet pack Aquality.Selenium\src\Aquality.Selenium\Aquality.Selenium.csproj -c $(buildConfiguration) --no-build -p:Version=$(GitVersion.NuGetVersion) -o $(Build.ArtifactStagingDirectory)
  displayName: 'Create NuGet package'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

#- task: NuGetCommand@2
#  displayName: 'Push NuGet package'
#  inputs:
#    command: 'push'
#    packagesToPush: '$(Build.ArtifactStagingDirectory)/**/Aquality.Selenium*.nupkg;!$(Build.ArtifactStagingDirectory)/**/Aquality.Selenium*.symbols.nupkg'
#    nuGetFeedType: 'external'
#    publishFeedCredentials: 'NuGet'
#  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

- task: GitHubRelease@0
  displayName: 'Create tag on GitHub'
  inputs:
    gitHubConnection: 'GitHub'
    repositoryName: 'aquality-automation/aquality-selenium-dotnet'
    action: 'create'
    tag: 'v$(GitVersion.NuGetVersion)'
    tagSource: 'manual'
    isPreRelease: contains(variables['GitVersion.NuGetVersion'], '-')
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

- task: PublishBuildArtifacts@1
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
    artifactName: '_aquality-automation.aquality-selenium-dotnet'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))